{% load static %}
<!-- Footer -->
<footer class="footer" style="">
	<div class="container">
        {% comment %}
		<?php if ( function_exists( 'ot_get_option' ) && ot_get_option( 'footer_text' ) != '' ) {
			$footer_text = ot_get_option( 'footer_text' ) ?>
			<p><?php echo $footer_text; ?></p>
		<?php } ?>
		{% endcomment %}
	</div>
</footer>

<div class="scrolltotop">
	<i class="fa fa-chevron-up"></i>
</div>
<!-- End of Footer -->


<!-- Javascript files -->
<!-- Placed at the end of the document so the pages load faster -->

<script type='text/javascript' src='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.pixelglow.ro\/themes\/planuswp-v2.2\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.0.1'></script>
<script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/modernizr.custom.49276.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.cslider.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.mixitup.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script type='text/javascript' src="{% static 'js/cbpScroller.js' %}"></script>
<script type='text/javascript' src="{% static 'js/scripts.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>

</body>
</html>