{% load static %}
{% load staticfiles %}
{% load tz %}

<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<title>PlanusWP  </title>
	<link rel="profile" href="http://gmpg.org/xfn/11">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="apple-touch-icon" href="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/uploads/2014/03/apple-touch-icon-152x1521.png">
	<link rel="shortcut icon" href="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/uploads/2014/03/logo11.png" />
	<!--[if IE]>
		<link rel="shortcut icon" href="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/uploads/2014/03/apple-touch-icon-152x1521.png">
	<![endif]-->
	<meta name="msapplication-TileColor" content="#1e73be">
	<meta name="msapplication-TileImage" content="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/uploads/2014/03/ms-image1.png">

	<link rel="pingback" href="http://www.pixelglow.ro/themes/planuswp-v2.2/xmlrpc.php">

	<link rel="alternate" type="application/rss+xml" title="PlanusWP &raquo; Feed" href="http://www.pixelglow.ro/themes/planuswp-v2.2/feed/" />
    <link rel="alternate" type="application/rss+xml" title="PlanusWP &raquo; Comments Feed" href="http://www.pixelglow.ro/themes/planuswp-v2.2/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="PlanusWP &raquo; Home Comments Feed" href="http://www.pixelglow.ro/themes/planuswp-v2.2/home/feed/" />
    <link rel='stylesheet' id='contact-form-7-css'  href='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css'  href='http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' type='text/css' media='' />
    <link rel='stylesheet' id='style-css'  href='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/themes/planus/style.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='ot-dynamic-custom_css_theme-css'  href='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/themes/planus/dynamic.css?ver=2.4.5' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
    <script type='text/javascript' src='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/themes/planus/js/classie.js?ver=1'></script>
    <script type='text/javascript' src='http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/themes/planus/js/jquery.backgroundSize.js?ver=4.0.1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.pixelglow.ro/themes/planuswp-v2.2/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.0.1" />
    <link rel='canonical' href='http://www.pixelglow.ro/themes/planuswp-v2.2/' />
    <link rel='shortlink' href='http://www.pixelglow.ro/themes/planuswp-v2.2/' />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/themes/planus/js/html5shiv.js"></script>
      <script src="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/themes/planus/js/respond.min.js"></script>
    <![endif]-->

</head>



<body data-spy="scroll" data-target="#my-nav" id="cbp-so-scroller" class="home page page-id-5 page-template page-template-template-home-php">


<!-- Navigation Bar -->
<div class="fallback-alert">
	<p>Our website works best with Javascripts enabled!</p>
</div>
<div class="navbar navbar-transparent navbar-fixed-top">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>


			<a class="navbar-brand" href="#"><img class="logo" src="http://www.pixelglow.ro/themes/planuswp-v2.2/wp-content/uploads/2014/03/logo-white1.png" alt=""></a>

		</div>

		<nav id="my-nav" class="navbar-collapse collapse" role="navigation">
				<ul class="nav navbar-nav"><li><a href="#header">Home</a></li><li><a href="#about">About me</a></li><li><a href="#services">What I do</a></li><li><a href="#pricing">Pricing</a></li><li><a href="#portfolio">Portfolio</a></li><li><a href="#testimonials">Testimonials</a></li><li><a href="#blog">Blog</a></li><li><a href="#contact-page">Contact</a></li></ul>		</nav><!--/.navbar-collapse -->

	</div>
</div>
<!-- End of Navigation Bar -->