
{% include 'header.html' %}
{% include  'page.html' %}

<div id="main-content" class="main-content">

<section class="content">
	<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">

                    {% include 'section-header.html' %}

                    {% include 'section-about.html' %}

                </div>
			</div>
		</div>
	</div>
</section>

{% include  'footer.html' %}