{% load static %}
{% load staticfiles %}
{% load tz %}

<!doctype html>
<!--[if IE 6 ]><html lang="en-us" class="ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en-us" class="ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en-us" class="ie8"> <![endif]-->
<!--[if (gt IE 7)|!(IE)]><!-->
<html lang="en-us"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	<title>PlanusWP - Premium Responsive One Page Wordpress Theme</title>
	
	<meta name="description" content="Thank you for purchasing my theme. If you have any questions that are beyond the scope of this help file, please feel free to email via our user page contact form. Thanks so much!

~ Pixelglow">
	<meta name="author" content="Pixelglow">
	<meta name="copyright" content="Pixelglow">
	<meta name="generator" content="Documenter v1.6 http://rxa.li/documenter">
	<meta name="date" content="2012-12-18T00:00:00+01:00">
	
	<link rel="stylesheet" href="{% static 'css/documenter_style.css' %}" media="all">
	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

	<script src="{% static 'js/jquery.1.6.4.js'%}"></script>
	
	<script src="{% static 'js/jquery.scrollTo-1.4.2-min.js'%}></script>
	<script src="{% static 'js/jquery.easing.js'%}></script>
	
	
	<script>document.createElement('section');var duration=500,easing='swing';</script>
	<script src="{% static 'js/script.js'%}"></script>
	
</head>
<body>


<div id="documenter_sidebar">
	<a href="#documenter_cover" id="documenter_logo">PlanusWP</a>
	<ol id="documenter_nav">
		<li><a class="current" href="#documenter_cover">Start</a></li>
		<li><a href="#installation">Installation</a></li>
		<li><a href="#permalinks">Permalinks</a></li>
		<li><a href="#home_page_settings">Home Page Settings</a></li>
		<li><a href="#welcome_screen">Welcome Screen</a></li>
		<li><a href="#about_section">About section</a></li>
		<li><a href="#portfolio_section">Portfolio section</a></li>
		<li><a href="#services_section">Services section</a></li>
		<li><a href="#testimonials_section">Testimonials section</a></li>
		<li><a href="#contact_section">Contact section</a></li>
		<li><a href="#map_section">Map section</a></li>
		<li><a href="#custom_fonts_css">Google fonts</a></li>
		<li><a href="#menus">Menus</a></li>
		<li><a href="#shortcodes">Shortcodes</a></li>
		<li><a href="#sources_and_credits">Sources and Credits</a></li>

	</ol>
	<div id="documenter_copyright">Copyright Pixelglow<br>
	made with the <a href="http://rxa.li/documenter">Documenter v1.6</a> 
	</div>
</div>


<div id="documenter_content">


	<section id="documenter_cover">
		<h1>PlanusWP</h1>
		<h2>Premium Responsive One Page Wordpress Theme</h2>
		<hr>
		<ul>
			<li>Created: 24/03/2014</li>
			<li>Latest Update: 18/11/2014</li>
			<li>Documentation version: 1.4</li>
			<li>Theme Version: 2.1</li>
			<li>Author: Silviu Stefu, Pixelglow</li>
		</ul>
		<p>Thank you for purchasing our theme. If you have any questions that are beyond the scope of this help file, please feel free to email via our user page right here. Thanks so much!</p>
		<br>
		~ the Pixelglow team</p>
	</section>


	<section id="installation">

		<h3>Installation</h3><hr class="notop">
		<p>You'll want to install this theme just like any other WordPress theme, either by uploading the main theme folder via FTP (unzipped) or the zipped file via the Wordpress theme upload section</p>
	
		<h4>1. FTP method</h4>
		<ul>
			<li>Log into your site via FTP</li>
			<li>Browse to your folder located at wp-content/themes</li>
			<li>Upload the MAIN theme folder. This is the folder named "Planus" located inside the "upload" folder from the zip file.</li>
			<li>Log Into Wordpress and go to Appearance --> Themes</li>
			<li>Find the theme and click to activate</li>
		</ul>

		<h4>2. WordPress Method</h4>
		<ul>
			<li>Log into your WP dashboard</li>
			<li>Browse to Appearance --> Themes</li>
			<li>Click to "add new" and then follow the instructions on the screen</li>
			<li>When it asks to select a file find the zipped theme folder located in the "upload" folder in the zip downloaded.</li>
		</ul>

		<h4>Dummy content</h4>
		<p>Inside downloaded archive, you'll find a folder named "Dummy content". Inside it, you'll see 2 files:
			<ul>
				<li>planuswp-content.xml</li>
				<li>theme-options.txt</li>
			</ul>
		</p>
		<p>First you need to <strong>Import the content</strong> so in order to do that, follow these steps:
			<ol>
				<li>Go to Dashboard -> Tools -> Import</li>
				<li>Click on Wordpress option</li>
				<li>If you have installed the Import plugin already, the Import page will be shown immediately. Otherwise you'll need to install the Importer plugin and a pop-up will be shown instead. In this case, just install the plugin.</li>
				<li>Press the Browse button and navigate to downloaded folder. Choose the file named "planuswp-content.xml" and press "Upload file and import"</li>
				<li>Select the user that will get all posts</li>
				<li>Check the box "Download and import file attachments" and press Submit</li>
				<li>You need to wait until all posts and attachaments are downloaded and you're good to go.</li>
			</ol>
		</p>
		<p>Now you need to <strong>upload the theme options</strong> by following the steps bellow:
			<ol>
				<li>Go to file named "theme-options.txt" inside Dummy Content folder</li>
				<li>Open the file and Copy the encoded text</li>
				<li>Go to Dashboard -> Appearance -> Options Backup</li>
				<li>Paste the copied text inside "Import theme options" filed and press "Import theme options" button on right side.</li>
				<li>Your options are loaded. Please go to Dashboard -> Appearance -> Theme options and press "Save changes" button to save all options.</li>
			</ol>
		</p>

		<h4>Video tutorial</h4>
		<p>I recorded this video while setting up the Planus theme. You'll find bellow every information you'll need but sometimes is easier to watch the tutorial and follow it step by step. So here is how I put all together.</p>
		<p><strong>Important! - The video tutorial is outdated</strong> Please note that this video tutorial was made on the first release of the theme. Consequently, if you choose to watch and follow this tutorial, you'll find some differences between the video and actual version of the theme. Though, the differences are just new features and you only need to add informations, not to replace or remove. Thank you for understanding.</p>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/624924BxNu4?rel=0" frameborder="0" allowfullscreen></iframe>

	</section>


	<section id="permalinks">
		<h3>Activate and Save permalinks</h3><hr class="notop">
		<p>Go to your Settings -> Permalink and hit the save button to prevent any 404 errors on custom post type pages. If you can handle it, you can change the permalinks to custom structure by choosing the "Custom structure" choice and insert "/%category%/%postname%/" into that field. This will change the permalinks to category-based structure.</p>
		<p>Hit Save and follow the instructions regarding the .htaccess file.</p>
	</section>


	<section id="home_page_settings">
		<h3>Home page Settings</h3><hr class="notop">
		<p>In order to set the base layout of the Planus theme, you need to follow the next instructions:</p>
		<ol>
			<li>Create a new page named Home. Be shure to choose the appropiate template (named Home Page Template) from Page Attributes section on the right side. Also be shure to press the "Publish" button.</li>
			<li>Create a new page named Blog using the same techinque as for Home, but this time choose the Blog template</li>
			<li>Go to <strong>Settings -> Reading</strong> and choose to show "A static page" as home. Select the Home page for Front page and Blog for Post page. Hit "Save Changes" button</li>
			<li>Go to <strong>Appearance -> Theme Options -> General Settings</strong> tab and fill all fields accordingly. You need to follow the instructions from the right side of the screen. Press "Save Changes" button.</li>
			<li>Now you will start to add all your section on the home page. To do that, go to "Home Section" tab and press the "Add New" button. This will open a form with four fields. Please pay attention to all fields:
				<ul>
					<li><strong>Title</strong> - you can add any title you want. This is not the title of the section.</li>
					<li><strong>Section title on menu</strong> - This is the text that appears on the top menu from the home page. <strong>If you leave it empty, this section will be omitted from the menu.</strong></li>
					<li><strong>Choose Predefined Section</strong> - this field will shou you all predefined sections. You can change the order of your sections after</li>
					<li><strong>Select your custom page</strong> (from v1.2) - If you don't want to add a predefined section, maybe you need to add a custom one. You just need to create a page first and then select it on this field. If you select this field, the previous one (predefined sections) will be omitted.</li>
				</ul>
			</li>
			<li>Repeat the last step for each section you want to display.</li>
			<li>Right now, all sections are visible on your home page but we are not finished. We need to set up each section and add your informations on them.</li>
			<p><strong>For you information</strong> - You can change the order of home page sections eith drag-and-drop the elements created by you on theme options.</p>
		</ol>
	</section>


	<section id="welcome_screen">
		<h3>Welcome Screen</h3><hr class="notop">
		<ul>
			<li>Go to <strong>Appearance -> Theme Options -> Welcome Section</strong> tab and fill all fields accordingly. You need to follow the instructions from the right side of the screen. Press "Save Changes" button.</li>
			<li>Don't worry if you don't want to fill all the fields this time.</li>
		</ul>
	</section>


	<section id="about_section">
		<h3>About Section</h3><hr class="notop">
		<ul>
			<li>Go to <strong>Appearance -> Theme Options -> About Section</strong> tab and fill the fields like this:
				<ul>
					<li><strong>Title</strong> - this is the title shown on the top of the About Section</li>
					<li><strong>Title color</strong> - this will change the color of the About section title</li>
					<li><strong>Content color</strong> - The color for content. This is very useful when you want to upload a dark background and the text becomes unreadable.</li>
					<li><strong>Background Settings</strong> - You can set your background according to your needs</li>
					<li><strong>Upload images</strong> - Just some images with you or your company. You can live it blank if you want but keep in mind that you can upload only 3 images.</li>
					<li><strong>About Content</strong> - the About Me content</li>
					<li><strong>Social Icons</strong> - press the "Add New" button to add social icons on the About Me section. After adding them all, you can change the order as you wish.</li>
				</ul>
			</li>
		</ul>
	</section>


	<section id="portfolio_section">
		<h3>Portfolio Section</h3><hr class="notop">
		<ol>
			<li>Go to <strong>Portfolio Items -> Portfolio Categories</strong> and create some categories for your portfolio. These categories will be shown on the home page as filter buttons for portfolio.</li>
			<li>Go to <strong>Portfolio Items -> Add New</strong> and add some portfolio posts. For each portfolio post you have 2 options. If you want to have more images as a slider you need to use the Gallery Images section. By pressing "Add New" button you can add as much images as you need. Another option is to set the featured image and this is the case when you have only one image for the portfolio post (the slider will be disabled). In both cases I recommend adding a featured image.</li>
			<li>Go to <strong>Appearance -> Theme Options -> Portfolio Section</strong> tab and fill the title and all fields accordingly. For each field you'll see the instructions on the right side.
		</ol>
	</section>


	<section id="services_section">
		<h3>Services Section</h3><hr class="notop">
		<p>The Services section is a simple page built with shortcodes. For learning more about shortcodes, please go to the <strong><a href="#shortcodes">Shortcodes</a></strong> The columns uses the syntax from Bootstrap3 (for columns) and Font Awesome (for icons). To keep the same structure follow the next instructions:</p>
		<ol>
			<li>Create a new page (Pages -> Add New) with the following content:
			<p>[row][col columns="8" offset="2" breakpoint="md"]This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.[/col][/row][row][prettycol icon="desktop" title="Web design" link="" columns="3" offset="" breakpoint=""]Lorem ipsum, consectetur adipiscing elit.  Duis sapien sit amet condimentum. Pellentesque tempus bibendum libero vitae malesuada.[/prettycol][prettycol icon="camera-retro" title="Branding" link="" columns="3" offset="" breakpoint=""]Lorem ipsum dolor sit amet. Nunc risus nulla, fringilla et turpis quis, rutrum feugiat urna. Pellentesque tempus bibendum libero.[/prettycol][prettycol icon="print" title="Print design" link="" columns="3" offset="" breakpoint=""]Duis dignissim venenatis sit amet condimentum. Integer varius vestibulum enim quis feugiat. Pellentesque vitae.[/prettycol][prettycol icon="puzzle-piece" title="Illustration" link="" columns="3" offset="" breakpoint=""]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus nulla, fringilla et turpis quis, rutrum feugiat urna. Sapien amet.[/prettycol][/row]</p>
			</li>
			<li>Go to <strong>Appearance -> Theme Options -> Services Section</strong> tab. Add a title for the services section and choose the page you've created on the first step. Besides that you have options for background, portfolio item hover color and options for </li>
		</ol>
	</section>


	<section id="testimonials_section">
		<h3>Testimonials Section</h3><hr class="notop">
		<p>For testimonials I added a new post type (Testimonials) and new taxonomy (Testimonials Category). If you don't need the categories for this section, just omit them. The testimonials will work without categories. Please follow these steps:</p>
		<ol>
			<li>Go to <strong>Testimonials -> Add New</strong> and start creating one testimonial. You need to fill each field like bellow:
				<ul>
					<li><strong>Title (post title)</strong> - is required. Though, will not be displayed.</li>
					<li><strong>Content</strong> - the content of the testimonial.</li>
					<li><strong>Testimonial Details</strong> - Photo (108x180px, name of the person (John Doe) and his title (e.g. CEO) will be shown </li>
				</ul>
			</li>
			<li>Go to <strong>Appearance -> Theme Options -> Testimonials Section</strong> tab
				<ul>
					<li><strong>Title</strong> - The title for Testimonials section</li>
					<li><strong>Title color</strong> - this will change the color of the Testimonials section title</li>
					<li><strong>Content color</strong> - The color for content. This is very useful when you want to upload a dark background and the text becomes unreadable.</li>
					<li><strong>Background Settings</strong> - You can set your background according to your needs</li>
					<li>Do not forget to save the changes</li>
				</ul>
			</li>
		</ol>
	</section>


	<section id="blog_section">
		<h3>Blog Section</h3><hr class="notop">
		<p>To set up the blog:</p>
		<ol>
			<li>Go to <strong>Appearance -> Theme Options -> Blog Section</strong> tab. Fill each field accordingly and on the field named "Select Blog Page" please select the "Blog" page created before.</li>
			<li>You can start adding posts by going to <strong>Posts -> Add New</strong>. Be shure to add a featured image to each post created. This time you can create and use both categories and tags.</li>
			<li>You have fields for Title color, Background and button text. please fill all fields accordingly.</li>
		</ol>
	</section>


	<section id="contact_section">
		<h3>Contact Section</h3><hr class="notop">
		<p>The contact section contains some contact informations along with a nice form. The form is not using a plugin, is a stand-alone form so you only need to add you email to it. To do that, please follow the next instructions:</p>
		<ol>
			<li>Go to <strong>Appearance -> Theme Options -> Contact Section</strong> tab.</li>
			<li>Add the section title by filling the "Title for Contact Section"</li>
			<li><strong>Title color</strong> - this will change the color of the Contact section title</li>
			<li><strong>Submit button color</strong> - this will change the color of Submit button</li>
			<li><strong>Content color</strong> - The color for content. This is very useful when you want to upload a dark background and the text becomes unreadable.</li>
			<li><strong>Submit button color</strong> - this will change the color of Submit button</li>
			<li><strong>Background Settings</strong> - You can set your background according to your needs</li>
			<li>Content - Add fiew words for your visitors</li>
			<li>Your email adress - this is the email where you will receive your messages</li>
			<li>Email subject - the subject of the messages sent by your visitors</li>
			<li>Adress - your place</li>
			<li>Phone Number where you can be contacted.</li>
		</ol>
	</section>

	<p>For future Contact section from Theme options will be replaced with Contact Form 7 plugin, so please take advantage of this plugin.</p>


	<section id="map_section">
		<h3>Map Section</h3><hr class="notop">
		<p>The map section contains only the select field for Map page. In order to select a page you need to create it first. Please follow the next steps:</p>
		<ol>
			<li>Create a new page (Pages -> Add New) with the following content:
				<p>[googlemap id="myMap" type="road" height="400" zoom="16" latitude="44.855499" longitude="24.867607" message="We are here" hue="#579F6A" ]</p>
				<p>Of course, you'll need to update the shortcode with your own values</p>
			</li>
			<li>Go to <strong>Appearance -> Theme Options -> Map Section</strong> tab and choose the page you've created on the first step.</li>
		</ol>
	</section>


	<section id="custom_fonts_css">
		<h3>Google fonts</h3><hr class="notop">
		<p>Go to <strong>Appearance -> Theme Options -> Custom fonts</strong> tab. You'll se that we've added some font fields for the main text styles of the theme. You can choose any font you like but please reamin consistent to 1-2 fonts.</p>
		<p><strong>Important!</strong> - if the Google API isn't available, you'll have only few font options so you should wait a bit and refresh the page.</p>
	</section>


	<section id="menus">
		<h3>Menus</h3><hr class="notop">

		<strong>Home Page Menu</strong>
		<p>About the menus you need to know that the menu from the home page is automatically generated when you create the home page. Also the menu will change when you change the order of the home page sections</p>
		<p>Starting with version 1.1, you can add more links to the top menu on home page. In order to do that, you need to create a new menu (Appearance -> Menus), give it a name, put the desired links inside and Save it. After saving you need to set a location to this menu. To show these links on the top bar of the home page, you need to check the "Home Page Menu" on Theme location section. That's it.</p>
		
		<strong>Inner Pages Menu</strong>
		<p>The menu you'll be adding next will be visible only on inner pages so keep that in mind.</p>
		<ol>
			<li>Go to <strong>Appearance -> Menus</strong>.</li>
			<li>Create a new menu</li>
			<li>Add menu elements from the left side and put them in your preferred order</li>
			<li>Add a menu name on the top</li>
			<li>Press "Create Menu" button</li>
			<li>After page refresh, check the theme location named "Inner pages Menu" and hit "Save Menu"</li>
		</ol>
	</section>


	<section id="shortcodes">
		<h3>Shortcodes</h3><hr class="notop">

		<h4>Font Awesome Shortcode</h4>
		<p>For more informations about the icons please visit the <a href="http://fontawesome.io/" target="_blank">Font Awesome</a></p>
		<p>
<pre>[icon type="" size="" rotate="" flip="" pull="" spin=""]</pre>
		</p>
		<p>Attributes:</p>
		<ul>
			<li>type - this is the icon from the Font Awesome collection. Please add only the name (e.g. desktop, rss)</li>
			<li>size - values: lg, 2x, 3x, 4x, 5x</li>
			<li>rotate - values: 90, 180, 270</li>
			<li>flip - values: horizontal, vertical</li>
			<li>pull - right, left</li>
			<li>spin - true, false. Default is false.</li>
		</ul>

		<h4>Buttons Shortcode</h4>
		<p>This shortcode will help you to add buttons anywhere on your content.</p>
		<p>
<pre>[button size="" corners="" color="" text="" href=""]</pre>
		</p>
		<p>Attributes:</p>
		<ul>
			<li>size - values: small, big</li>
			<li>corners - values: round, square</li>
			<li>color - values: red, blue, green, white</li>
			<li>text - value: Insert the text for your button</li>
			<li>href - value: Insert the url for your button.</li>
		</ul>

		<h4>Columns Shortcodes</h4>
		<p>
<pre>[row]
	[col columns="8" offset="2" breakpoint="md"]
		Here is the column content
	[/col]
[/row]</pre>
		</p>
		<p>Attributes:</p>
		<ul>
			<li><strong>columns</strong> - number of 1/12 colmns. As you can see, you'll have 12 choices (numbers between 1 and 12). The total number of columns from one row can't be bigger than 12. In our case we have 8 columns.</li>
			<li><strong>offset</strong> - defines how many columns we leave free to the left of main columns. In our case, because we want to center our 8col content, we'll set the offset to 2.</li>
			<li><strong>breakpoint</strong> - defines the css breakpoint when the columns gets stacked. You have 3 choices: sm, md and lg (small, medium and large)</li>
		</ul>

		<h4>Pretty Columns Shortcode</h4>
		<p>
<pre>[row]
	[prettycol icon="desktop" title="Web design" anchor="" columns="3" offset="" breakpoint=""]
		Here is the Prettycol content
	[/prettycol]
[/row]</pre>
		</p>
		<p>Attributes:</p>
		<ul>
			<li><strong>icon</strong> - this is the icon from Font Awesome collection. You need to add only the name of the icon, not the entire class. So if you need the icon "fa-desktop", then you will add only "desktop". You can use any icons from here: <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">Font Awesome Cheatsheet</a></li>
			<li><strong>title</strong> - the title for the pretty column</li>
			<li><strong>anchor</strong> - In case you want to link to a service page, add the link to it.</li>
			<li><strong>columns</strong> - number of 1/12 colmns. As you can see, you'll have 12 choices (numbers between 1 and 12). The total number of columns from one row can't be bigger than 12. In our case we have 8 columns.</li>
			<li><strong>offset</strong> - defines how many columns we leave free to the left of main columns. In our case, because we want to center our 8col content, we'll set the offset to 2. The default values is empty.</li>
			<li><strong>breakpoint</strong> - defines the css breakpoint when the columns gets stacked. You have 3 choices: sm, md and lg (small, medium and large). The default value is "md".</li>
		</ul>

		<h4>Tabs Shortcode - since v1.2</h4>
		<p>
<pre>[tabs type="tabs"]
	[tab title="Tab1" active="true" fade="true"]
		Here goes the content for the first tab.
	[/tab]
	[tab title="Tab2" fade="true"]
		Here goes the content for the second tab.
	[/tab]
[/tabs]</pre>
		</p>
		<p>Attributes:</p>
		<ul>
			<li><strong>type</strong> - Options: tabs, pills. This will set the type of tabs.</li>
			<li><strong>title</strong> - The title of tab. This is an option for each Tab.</li>
			<li><strong>active</strong> - Options: true, false. This will set the active tab. By default the first tab is active.</li>
			<li><strong>fade</strong> - Options: true, false. This will add the fade effect tab content. By default is set to true.</li>
		</ul>

		<h4>Accordion Shortcode - since v1.2</h4>
		<p>
<pre>
[collapsibles]
	[collapse title="Item 1" type="default" active="true"]
		Here goes the content for the first accordion item.
	[/collapse]
	[collapse title="Item 2" type="default"]
		Here goes the content for the second accordion item.
	[/collapse]
	[collapse title="Item 3" type="default"]
		Here goes the content for the third accordion item.
	[/collapse]
[/collapsibles]
</pre>
		</p>
		<p>Attributes:</p>
		<ul>
			<li><strong>title</strong> - The title for the accordion item. The value should be text or number.</li>
			<li><strong>type</strong> - Options: default, primary, success, info, warning, danger, link. This will set the type of the accordion item.</li>
			<li><strong>active</strong> - Options: true, false. This will set the active tab. By default the first accordion item is active.</li>
		</ul>

		<h4>Google Map Shortcode</h4>
		<p>
<pre>[googlemap id="myMap" type="road" height="400" zoom="16" latitude="44.855499" longitude="24.867607" message="We are here" hue="#579F6A" ]</pre>
		</p>
		<p>Attributes:</p>
		<ul>
			<li><strong>id</strong> - This is the ID of the map</li>
			<li><strong>type</strong> - You can choose one from: satellite, terrain, hybrid, roadmap. Default is roadmap.</li>
			<li><strong>height</strong> - This is the height of the map section. Note that the width is set by default to 100%</li>
			<li><strong>zoom</strong> - Zoom value for closer view.</li>
			<li><strong>latitude</strong> - The latitude of your place.</li>
			<li><strong>longitude</strong> - The longitude of your place.</li>
			<li><strong>message</strong> - Message shown when click on map pin</li>
			<li><strong>hue</strong> - By using this value you can set a hue over your map. I recommend to set the same color as Contact section.</li>
		</ul>
	</section>


	<section id="sources_and_credits">
		<h3>Sources and Credits</h3><hr class="notop">
		<p>We&#39;ve used the following images, icons or other files as listed.</p>
		<ul>
			<li><a href="http://getbootstrap.com/">Bootstrap 3.1.1</a></li>
			<li><a href="http://fontawesome.io/">Font Awesome</a></li>
			<li><a href="http://tympanus.net/codrops/2013/07/18/on-scroll-effect-layout/">cbpScroller</a></li>
			<li><a href="https://code.google.com/p/html5shiv/">HTML5shiv</a></li>
			<li><a href="http://tympanus.net/codrops/2012/03/15/parallax-content-slider-with-css3-and-jquery/">Parallax content slider</a></li>
			<li><a href="http://gsgd.co.uk/sandbox/jquery/easing/">jQuery Easing Plugin</a></li>
			<li><a href="http://modernizr.com/">Modernizr</a></li>
			<li><a href="https://github.com/desandro/classie">Classie</a></li>
			<li><a href="http://mixitup.io/">Mixitup</a></li>
			<li><a href="http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/">prettyPhoto</a></li>
			<li><a href="http://fitvidsjs.com/">FitVids</a></li>
			<li><a href="https://maps.google.com/">Google Maps</a></li>
			<li><a href="https://github.com/valendesigns/option-tree">Option Tree</a></li>
			<li><a href="https://github.com/doitmax/option-tree-google-fonts">Option Tree Google Fonts</a></li>
		</ul>
		

<p>
	Once again, thank you so much for purchasing this theme. As I said at the beginning, I&#39;d be glad to help you if you have any questions relating to this theme. No guarantees, but I&#39;ll do my best to assist. If you have a more general question relating to the themes, you might consider visiting the forums and asking your question there.</p>
<p>
	<strong>~ the Pixelglow team</strong></p>
</section>

	</div>
</body>
</html>