{% comment %}
<?php get_header('page'); ?>
{% endcomment %}
<!-- Begin Container -->
<div class="container">
    {% comment %}
	<?php
		// Start the Loop.
		while ( have_posts() ) : the_post();

			// Include the page content template.
			get_template_part( 'content', 'page' );

		endwhile;
	?>
	{% endcomment %}
</div>
	<!-- End Container -->
	<div class="clear"></div>

</div><!-- End Wrapper -->
{% comment %}
<?php get_footer(); ?>
{% endcomment %}